@if (ShowDialog)  
{  
  
<div class="modal fade show d-block" id="exampleModal" tabindex="-1" role="dialog">  
    <div class="modal-dialog" role="document">  
        <div class="modal-content">  
            <div class="modal-header">  
                <h5 class="modal-title" id="titleLabel">Add Items</h5>  
                <button type="button" class="close" @onclick="@Close" data-dismiss="modal" aria-label="Close">  
                    <span aria-hidden="true">×</span>  
                </button>  
            </div>  
            <div class="modal-body">  
                <EditForm Model="@Item" OnValidSubmit="@HandleValidSubmit">  
                    <DataAnnotationsValidator />  
                    <ValidationSummary />  
                    <div class="form-group">  
                        <label for="ItemName">Item Name </label>  
                        <InputText id="ItemName" class="form-control" @bind-Value="@Item.ItemName" placeholder="Enter Item name"></InputText>  
                        
                    </div>  
                
                    <div class="form-group">  
                        <label for="ItemCategory">Item Category </label>  
                        <InputText id="ItemCategory" class="form-control" @bind-Value="@Item.Category" placeholder="Enter Date"></InputText>   
                    </div>  
                    <div class="form-group">  
                        <label for="ItemDate">Item Date </label>  
                        <InputText id="ItemDate" class="form-control" @bind-Value="@Item.Date" placeholder="Enter price"></InputText>  
                        <ValidationMessage For="@(() => Item.Price)" />  
                    </div>  
                    
                     <div class="form-group">  
                        <label for="ItemPrice">Item Price </label>  
                        <InputText id="ItemPrice" class="form-control" @bind-Value="@Item.Price" placeholder="Enter item category"></InputText>   
                    </div>  
                    <button type="submit" class="btn btn-primary">Save item</button>   
                </EditForm>  
            </div>  
        </div>  
    </div>  
</div>  
}
